PORT=9000
USERPASSWORD=oAfr********
CLUSTER=cluster*****
USERNAME=user**
G_CLIENT_ID=718610427157-1pnp*********
G_CLIENT_SECRET=GOCSPX-*****-******
PUBLIC_URL=http://localhost:3000
SECRET=some-secret
NODE_ENV=developement
G_GEOCODE_KEY=AIzaSyA**********
S_CLIENT_ID=ca_MrI0kL8*********
S_SECRET_KEY=sk_test_51M7ZOw*********
CLOUDINARY_NAME=dy*****
CLOUDINARY_KEY=5618*******
CLOUDINARY_SECRET=bNakdWC********